version: '3.8'

services:
  backend:
    build:
      context: ./backend
    ports:
      - "3001:3001"
    networks:
      - public-network
      - private-network
    env_file:
      - .env
    depends_on:
      - db
    command: sh -c "npm run prisma:push && npm run dev"
    volumes:
      - ./backend:/app       
      - /app/node_modules

  frontend:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --port 5173"
    networks:
      - public-network
    env_file:
      - .env

  db:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    networks:
      - private-network
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data

networks:
  public-network:
    driver: bridge
  private-network:
    driver: bridge

volumes:
  db-data:
